.titleText {
    -fx-font-size: 18px;
}

.authorText {
    -fx-font-size: 14px;
}

.sidebarTitle {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 0px 0px 10px 0px;
}

.sidebarLibraryName {
    -fx-font-size: 14px;
}

.sidebarLibraryNameOnHover {
    -fx-text-fill: #6246ea;
}

.book {
    -fx-padding: 10px 10px 10px 10px;
}